<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <form action="/lists/", method="POST">
      <p>Choose recipes to build a shopping list</p>
      <select name="recipes_for_list" id="recipes_for_list" multiple size="10" required>
        {% for recipe in recipes %}
        <option value="{{recipe}}">{{recipe}}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Build">
    </form>
  </body>
</html>
